<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="padding:0;" >
    <input type="text" id="content" name="content"/>
    <button class="favorite styled"type="button" onclick="updateVersion()">버전업데이트</button>
    <button class="favorite styled"type="button" onclick="getHiddenLocation()">히든위치업데이트</button>

    <div id="map" style="width:1900px;height:900px;"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5477f0a7fd496c0131aa5671cf01300f"></script>

  <script>
    var markers = [];
    var infowindows = [];
    var userList = new Array();
    var gpsList = new Array();
    //init Map
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(36.4425266, 127.9602451),
        level: 12
    };
  
    var map = new kakao.maps.Map(container, options);

    kakao.maps.event.addListener(map, 'center_changed', function() {
        // 지도의  레벨을 얻어옵니다
        var level = map.getLevel();
        // 지도의 중심좌표를 얻어옵니다 
        var latlng = map.getCenter(); 
        // 지도 중심을 이동 시킵니다
        map.setCenter(latlng);
    });

    /*****************************************************/
    getVersion();
    getHiddenLocation();

    function getRandomCoordinates(numberOfCoordinates) {
      const coordinates = [];
      for (let i = 0; i < numberOfCoordinates; i++) {
          const latitude = 33 + Math.random() * (38 - 33);
          const longitude = 126 + Math.random() * (129 - 126);
          coordinates.push({ latitude, longitude });

          var markerPosition  = new kakao.maps.LatLng(latitude, longitude); 

          // 마커를 생성합니다
          var marker = new kakao.maps.Marker({
              position: markerPosition
          });

          // 마커가 지도 위에 표시되도록 설정합니다
          markers.push(marker);
          marker.setMap(map);

      }
      return coordinates;
    }


    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = []; // 배열을 비웁니다.
    }

    function getHiddenLocation() {
      clearMarkers();
      $.ajax({
            type : 'GET',
            url : '/test_api/getHiddenLocation',
            dataType : 'json',
            data : {
            },
            success : function(result) {
                for( var i = 0; i < result.length; i ++ ) {
                    var obj = result[i][1];
                    var lng = obj[0];
                    var lat = obj[1];
                    var markerPosition  = new kakao.maps.LatLng(lat, lng); 

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    markers.push(marker);
                    marker.setMap(map);
                }
            }, 
            
            error: function(request, status, error) {
            }

      });
    }


    function getVersion() {
          $('#content').val("");	
            $.ajax({
            type : 'GET',
            url : '/test_api/getNowVersion',
            dataType : 'json',
            data : {
            },
            success : function(result) {
                $('#content').val(result[0].android);
            }, 
            
            error: function(request, status, error) {

            }

          });
    }
      

    function updateVersion() {
            var android = $('#content').val();	
            $.ajax({
            type : 'GET',
            url : '/test_api/updateVersion?android='+android,
            dataType : 'json',
            data : {
            },
            success : function(result) {
              getVersion();
            }, 
            
            error: function(request, status, error) {

            }

          });
    }
   

  </script>

  </body>
</html>
