<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .overlay-content {
        position: absolute;
        transform: translate(-50%, -100%); /* 마커 위에 정확히 배치 */
      }
      .overlay-label {
        /* 라벨 스타일 */
        background-color: white;
        padding: 2px;
        text-align: center;
      }
      .overlay-image {
        /* 이미지 스타일 */
        width: 35px;  /* 이미지 크기 */
        height: 35px;
      }
    </style>
  </head>
  <body style="padding:0;" >
    <input type="text" id="content" name="content"/>
    <button class="favorite styled"type="button" onclick="updateVersion()">버전업데이트</button>
    <button class="favorite styled"type="button" onclick="getHiddenLocation()">위치업데이트</button>

    <div id="map" style="width:1900px;height:900px;margin-top: 10px;"></div>
    <div id="nowCount" style="position: absolute; top: 60px; left: 30px; color: white; font-size: 60px;">
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpVXRp7AAhj8_3d-v3LyF8Qcfm77Mdbuk"></script>

  <script>
    var markers = [];

    /*****************************************************/
    getVersion();
    getHiddenLocation();
    initMap();

    function initMap() {

        var today = new Date();
        var hours = today.getHours(); // 시

        var myStyles =[
          {
                "featureType": "poi",
                "stylers": [
                  { "visibility": "off" }
                ]
          }
        ];

        if( parseInt(hours) > 17 || parseInt(hours) < 9 ) {
            $('#infolayer').css('color', '#fff');
            $('#infolayer').css('background-color', 'rgba( 0, 0, 0, 0.1 )');

            myStyles =  [
                {
                    "featureType": "poi",
                    "stylers": [
                      { "visibility": "off" }
                    ]
                },
                { "elementType": "geometry", "stylers": [{ "color": "#242f3e" }] },
                { "elementType": "labels.text.stroke", "stylers": [{ "color": "#242f3e" }] },
                { "elementType": "labels.text.fill", "stylers": [{ "color": "#746855" }] },
                {
                "featureType": "administrative.locality",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#d59563" }],
                },
                {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#d59563" }],
                },
                {
                'featureType': "poi.park",
                'elementType': "geometry",
                'stylers': [{ "color": "#263c3f" }],
                },
                {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [{ 'color': "#6b9a76" }],
                },
                {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [{ "color": "#38414e" }],
                },
                {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [{ "color": "#212a37" }],
                },
                {
                "featureType": "road",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#9ca5b3" }],
                },
                {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [{ "color": "#746855" }],
                },
                {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [{ "color": "#1f2835" }],
                },
                {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#f3d19c" }],
                },
                {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [{ "color": "#2f3948" }],
                },
                {
                "featureType": "transit.station",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#d59563" }],
                },
                {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [{ "color": "#17263c" }],
                },
                {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [{ "color": "#515c6d" }],
                },
                {
                "featureType": "water",
                "elementType": "labels.text.stroke",
                "stylers": [{ "color": "#17263c" }],
                },
            ]

        }

        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: {lat: 37.534273, lng: 126.793246},
            zoom: 10,
            fullscreenControl: false,
            styles : myStyles
        });
    }



    function clearMarkers() {
        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = []; // 배열을 비웁니다.
    }

    function getHiddenLocation() {
      clearMarkers();
      $.ajax({
            type : 'GET',
            url : '/test_api/getHiddenLocation',
            dataType : 'json',
            data : {
            },
            success : function(result) {
                for( var i = 0; i < result.length; i ++ ) {
                    var obj = result[i][1];
                    var lng = obj[0];
                    var lat = obj[1];
                    var myLatLng = {lat: parseFloat(lat), lng: parseFloat(lng)};
                    marker = new google.maps.Marker({
                      position: myLatLng,
                      map: map,
                      title: 'hidden'
                    });


                    // 마커가 지도 위에 표시되도록 설정합니다
                    markers.push(marker);
                    marker.setMap(map);
                }

                getNowTango();
            }, 
            
            error: function(request, status, error) {
            }

      });
    }


    
    // 사용자 정의 오버레이 정의
    var CustomOverlay = function(position, imageUrl, label, map) {
      this.position = position;
      this.imageUrl = imageUrl;
      this.label = label;
      this.map = map;
      this.div = null;
      markers.push(this); 
      this.setMap(map);
    };

    CustomOverlay.prototype = new google.maps.OverlayView();

    CustomOverlay.prototype.onAdd = function() {
      var div = document.createElement('div');
      div.className = 'overlay-content';

      var image = document.createElement('img');
      image.className = 'overlay-image';
      image.src = this.imageUrl;
      div.appendChild(image);

      var label = document.createElement('div');
      label.className = 'overlay-label';
      label.textContent = this.label;
      div.appendChild(label);

      this.div = div;

      var panes = this.getPanes();
      panes.overlayImage.appendChild(div);
    };

    CustomOverlay.prototype.draw = function() {
      var overlayProjection = this.getProjection();
      var position = overlayProjection.fromLatLngToDivPixel(this.position);

      var div = this.div;
      div.style.left = position.x + 'px';
      div.style.top = position.y + 'px';
    };

    CustomOverlay.prototype.onRemove = function() {
      if (this.div) {
        this.div.parentNode.removeChild(this.div);
        this.div = null;
      }
    };

    

    function getNowTango() {
            $.ajax({
            type : 'GET',
            url : '/f_api/getNowTango',
            dataType : 'json',
            data : {
            },
            success : function(result) {
               $('#nowCount').html('현재 : ' +  result.length + ' 명')
               for( var i = 0; i < result.length; i ++ ) {
                    var obj = result[i];
                    var lng = obj.lng;
                    var lat = obj.lat;
                    var myLatLng = {lat: parseFloat(lat), lng: parseFloat(lng)};

                    var image = {
                        url: '/images/7.png', // 이미지 URL
                        scaledSize: new google.maps.Size(30, 30) // 이미지 크기 조절 (너비, 높이)
                    };

                    new CustomOverlay(myLatLng, '/images/7.png',  obj.nickname, map);

                    // 마커가 지도 위에 표시되도록 설정합니다
                    
                    marker.setMap(map);
                }
            }, 
            
            error: function(request, status, error) {

            }

          });
    }

    function getVersion() {
          $('#content').val("");	
            $.ajax({
            type : 'GET',
            url : '/test_api/getNowVersion',
            dataType : 'json',
            data : {
            },
            success : function(result) {
                $('#content').val(result[0].android);
            }, 
            
            error: function(request, status, error) {
            }

          });
    }
      

    function updateVersion() {
            var android = $('#content').val();	
            $.ajax({
            type : 'GET',
            url : '/test_api/updateVersion?android='+android,
            dataType : 'json',
            data : {
            },
            success : function(result) {
              getVersion();
            }, 
            
            error: function(request, status, error) {

            }

          });
    }
   

  </script>

  </body>
</html>
